@tailwind base;
@tailwind components;
@tailwind utilities;


.bg{
    background-image: url("../public/images/web\ BG.png");
    
    background-attachment: fixed;
    background-size: cover;
}

.border-rgb{
    border-color: rgb(90, 27, 43);
    border-right: solid rgb(125, 211, 252) 4px;
    border-left: solid rgb(125, 211, 252) 4px;
}

.border-sidebar{
    border-color: rgb(90, 27, 43);
    border-top: solid rgb(125, 211, 252) 4px;
    border-bottom: solid rgb(125, 211, 252) 4px;
}

.border-content{

    border-top-right-radius: 10px;
}

.border-outer-rgb{
    border-color: rgb(90, 27, 43);
    border-right: solid rgb(220, 38, 38) 4px;
    border-left: solid rgb(220, 38, 38) 4px;
}

.sidebar_A{
    height: 384px;
}

.sidebar_B{
    height: 660px;
}